<main>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>About Me</h1>
                <p>
                    Mi nombre es Victor y estoy estudiando 2º año de DAW. Me gusta mucho la programación y el diseño
                    web.
                </p>
                <p>Este es mi primer proyecto Angular, he aprendido algunas cosas:</p>
                <p>Pros:</p>
                <ol>
                    <li>La escalabilidad de la pagina es visiblemente más rápida</li>
                    <li>El código es más organizado y fácil de leer</li>
                    <li>Dosificar el css hace mas facil como las tareas de posiscionamiento sin conflictop de otras
                        reglas previamente definidas.</li>
                    <li>Contenido dinámico acorde a la Api</li>
                </ol>
                <p>Contras:</p>
                <ol>
                    <li>Es un poco complicado de entender al principio</li>
                    <li>Tiene muchas dependencias</li>
                    <li>Es mal momento para aprender Angular porque estamos "en tierra de nadie"</li>
                    <li>Las distintas formas de hacer las cosas son muy diferentes entre si y causan confusion</li>
                </ol>
                <a class="btn btn-primary mt-auto" [routerLink]="['/home']">Volver</a>


            </div>
        </div>
    </div>
</main>